@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-one: #ccd5e2;
  --bg-color-two: #ccd5e2;
  --gradient: ;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.fondo_degradado {
  @apply bg-gradient-to-tr from-[--bg-color-one] from-15%  to-[--bg-color-two] to-85%;
}
