@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    heigth: 100%;
}

.fondo_degradado{
    @apply bg-gradient-to-tr from-[#CCD5E2] from-15%  to-[#F8FBFF] to-85%;
}